:root {
    --primary-color: #ff6433;
    --boder-color: #dbdbdb;



    --navbar-height : 38px;
    --header-height: 120px;
    --container__img-height: 240px;
    --header-width-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}
.map {
    overflow: hidden;
}
html {
    height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto" , sans-serif;
}
/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fade-pour-down {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* Tam Giác */
.arrow-up {
    position: absolute;
    top: -6px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 7px solid #fff;
}

/* modal */
.modal {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.4);
    animation: fadeIn ease .3s;
}
.modal__body {
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin: auto;
    transform-origin: center;
    animation: fade-pour-down ease .3s;
}
/* btn */
.btn{
    height: 36px;
    cursor: pointer;
    min-width: 120px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 36px;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    background-color: #fff;
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: #fff;
}
.container__btn-right{
    position: absolute;
    right: -10px;
    top: 56%;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #666;
    transition: all ease .3s;
}
.container__btn-left{
    position: absolute;
    left: -10px;
    top: 56%;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #666;
    transition: all ease .3s;
    display: none;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
/* responsive */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.wide .row.sm-gutter-min {
    margin-left: -2px;
    margin-right: -2px;
}
.wide .row.sm-gutter-min .col {
    padding-left: 2px;
    padding-right: 2px;
}
.row-slide {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row-slide.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutter .col {
    padding-left: 0;
    padding-right: 0;
}
.row-slide.no-gutter .col {
    padding-left: 0;
    padding-right: 0;
}
.m-0 {
    display: none;
}

.m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.m-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.m-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.m-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.m-o-1 {
    margin-left: 8.33333%;
}

.m-o-2 {
    margin-left: 16.66667%;
}

.m-o-3 {
    margin-left: 25%;
}

.m-o-4 {
    margin-left: 33.33333%;
}

.m-o-5 {
    margin-left: 41.66667%;
}

.m-o-6 {
    margin-left: 50%;
}

.m-o-7 {
    margin-left: 58.33333%;
}

.m-o-8 {
    margin-left: 66.66667%;
}

.m-o-9 {
    margin-left: 75%;
}

.m-o-10 {
    margin-left: 83.33333%;
}

.m-o-11 {
    margin-left: 91.66667%;
}
/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .t-0 {
        display: none;
    }

    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6,
    .t-7,
    .t-8,
    .t-9,
    .t-10,
    .t-11,
    .t-12 {
        display: block;
    }

    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .t-o-1 {
        margin-left: 8.33333%;
    }

    .t-o-2 {
        margin-left: 16.66667%;
    }

    .t-o-3 {
        margin-left: 25%;
    }

    .t-o-4 {
        margin-left: 33.33333%;
    }

    .t-o-5 {
        margin-left: 41.66667%;
    }

    .t-o-6 {
        margin-left: 50%;
    }

    .t-o-7 {
        margin-left: 58.33333%;
    }

    .t-o-8 {
        margin-left: 66.66667%;
    }

    .t-o-9 {
        margin-left: 75%;
    }

    .t-o-10 {
        margin-left: 83.33333%;
    }

    .t-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }
    .row.sm-gutter-min {
        margin-left: -2px;
        margin-right: -2px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }
    .row.sm-gutter-min .col{
        padding-left: 2px;
        padding-right: 2px;
    }
    .p-0 {
        display: none;
    }

    .p-1,
    .p-2,
    .p-2-4,
    .p-3,
    .p-4,
    .p-5,
    .p-6,
    .p-7,
    .p-8,
    .p-9,
    .p-10,
    .p-11,
    .p-12 {
        display: block;
    }

    .p-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .p-1-8-12 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .p-1-10-12 {
        flex: 0 0 10%;
        max-width: 10%;
    }
    .p-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .p-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .p-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .p-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .p-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .p-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .p-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .p-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .p-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .p-o-1 {
        margin-left: 8.33333%;
    }

    .p-o-2 {
        margin-left: 16.66667%;
    }

    .p-o-3 {
        margin-left: 25%;
    }

    .p-o-4 {
        margin-left: 33.33333%;
    }

    .p-o-5 {
        margin-left: 41.66667%;
    }

    .p-o-6 {
        margin-left: 50%;
    }

    .p-o-7 {
        margin-left: 58.33333%;
    }

    .p-o-8 {
        margin-left: 66.66667%;
    }

    .p-o-9 {
        margin-left: 75%;
    }

    .p-o-10 {
        margin-left: 83.33333%;
    }

    .p-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
    .wide .row.sm-gutter-min {
        margin-left: -2px;
        margin-right: -2px;
    }
    .wide .row.sm-gutter-min .col {
        padding-left: 2px;
        padding-right: 2px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .wide .row-slide.sm-gutter {
        margin-left: -6px;
        margin-right: -6px;
    }
    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }
    .wide .row.sm-gutter-min {
        margin-left: -2px;
        margin-right: -2px;
    }
    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }
    .wide .row-slide.sm-gutter .col {
        padding-left: 6px;
        padding-right: 6px;
    }
    .wide .row.sm-gutter-min .col {
        padding-left: 2px;
        padding-right: 2px;
    }
    .wide .p-0 {
        display: none;
    }

    .wide .p-1,
    .wide .p-2,
    .wide .p-2-4,
    .wide .p-3,
    .wide .p-4,
    .wide .p-5,
    .wide .p-6,
    .wide .p-7,
    .wide .p-8,
    .wide .p-9,
    .wide .p-10,
    .wide .p-11,
    .wide .p-12 {
        display: block;
    }
    .wide .container__glide{
        display: flex;
        flex-wrap:nowrap;
    }
    .wide .p-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .p-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .p-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .p-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .p-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .p-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .p-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .p-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .p-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .p-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .p-o-1 {
        margin-left: 8.33333%;
    }

    .wide .p-o-2 {
        margin-left: 16.66667%;
    }

    .wide .p-o-3 {
        margin-left: 25%;
    }

    .wide .p-o-4 {
        margin-left: 33.33333%;
    }

    .wide .p-o-5 {
        margin-left: 41.66667%;
    }

    .wide .p-o-6 {
        margin-left: 50%;
    }

    .wide .p-o-7 {
        margin-left: 58.33333%;
    }

    .wide .p-o-8 {
        margin-left: 66.66667%;
    }

    .wide .p-o-9 {
        margin-left: 75%;
    }

    .wide .p-o-10 {
        margin-left: 83.33333%;
    }

    .wide .p-o-11 {
        margin-left: 91.66667%;
    }
}